<h3>{{model.name}} {{#if model.active}}&#10004;{{/if}}</h3>
<div>
    <div><a href="tel:{{model.phone}}">{{model.phone}}</a></div>
    <div>
        {{model.address1}}{{#if model.address2}}, {{model.address2}}{{/if}}<br>
        {{model.city}}, {{model.state}} {{model.zip}}
    </div>
</div>
